<html lang='en'>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}} - BookNest</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  </head>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link
      rel='stylesheet'
      href='https://unpkg.com/@picocss/pico@1.5.4/css/pico.min.css'
    />
    <link rel='stylesheet' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <header class='site-header'>

      <div class="logo-text-box">
      <h1 class='logo-text'>
        <span class='book-part'>BOOK</span>
        <span class='nest-part'>NEST</span>
      </h1>
      
      <img src="/images/open_book.png" alt="Book Icon" class="logo-icon">
      </div>

      <nav>
        <a href='/'>Home</a>
        {{#if loggedIn}}
          <a href='/dashboard'>Dashboard</a>
          <a href="/profile">Profile</a>
          <a href='#' id='logout'>Logout</a>
        {{else}}
          <a href='/login'>Login</a>
          <a href='/signup'>Sign-Up</a>
        {{/if}}
      </nav>
    </header>
    <main>

      {{{body}}}
    </main>
    {{#if loggedIn}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

  <footer>
    © 2024 BookNest, Inc.
  </footer>

</html>