{{#if loggedIn}}

<div class="logo-container">
        <img src="/images/booknest_logo.png" alt="Book Nest Logo" class="logo">
</div>

<div class="homepage-content">
<h2>Welcome to BookNest!</h2>
<h3>Find books. Build community.</h3>
<h4><a href='/dashboard'>Click here to search for a book!</a></h4>
</div>

<div id="safety-modal" class="modal">
    <div class="modal-content">
        <span id="close-modal" class="close-button">&times;</span>
        <p>⚠️ Safety Warning: <br> <br> Please be cautious when meeting up with others to trade books. Always meet in public places and inform someone of your plans.</p>
    </div>
</div>

{{else}}

<div class="hero">
  <div class="hero-content">
    <h1>Welcome to BookNest!</h1>
  </div>
</div>

<div class="logo-container">
        <img src="/images/booknest_logo.png" alt="Book Nest Logo" class="logo">
</div>

<div class="homepage-content">
<h3>Discover and Share Books</h3>

<div class="how-it-works">
    <h3>How It Works</h3>
    <div class="how-it-works-grid">
        <div class="how-it-works-item">
            <i class="fa-solid fa-user-plus"></i>
            <h6>1. Sign Up </h6>
            <p>Create an account to start your book-sharing journey.</p>
        </div>
        <div class="how-it-works-item">
            <i class="fa-solid fa-book"></i>
            <h6>2. Build Your Library</h6>
            <p>Add books you already own to your own personal library and display them on your profile.</p>
        </div>
        <div class="how-it-works-item">
            <i class="fa-solid fa-heart"></i>
            <h6>3. Create A Wishlist</h6>
            <p>Search for books you want to read and add them to your wishlist!</p>
        </div>
        <div class="how-it-works-item">
            <i class="fa-solid fa-users"></i>
            <h6>4. Build Community</h6>
            <p>Get connected to users who own the books you want to read.</p>
        </div>
</div>

<h3><a href='/login'>Login</a> or <a href='/signup'> Sign-Up </a> to continue</h3>

</div>

{{/if}}

<script src="/js/homepage.js"></script>

<script>
    const justLoggedIn = {{justLoggedIn}};
</script>
