<h2>Login</h2>
<form class='login-form'>
  <input type='text' id='username-login' placeholder='Username' />
  <input type='password' id='password-login' placeholder='Password' />
  <button type='submit'>Login</button>
</form>
<h6>Don't have an account? <a href='/signup'>Sign up!</a></h6>
<script src='/js/login.js'></script>